* {
    box-sizing: border-box;
    margin-left: 2%;
}
body{
    margin: 0;
    background: #dadada;
}
header{
    box-sizing: border-box;
    margin: 0%;
    background: #079500;
    height: 1.2in;
}
.container{
    box-sizing: border-box;
    height: 1.2in;
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #17a900;
}
.ronjrt{
    height: 1in;
    width: 1in;
}
p{
    color: #007b08;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
}
.ploc{
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    color: #000;
    font-weight: bold;
    margin-left: 5%;
}